@font-face {
  font-family: 'NewFont';
  font-style: normal;
  font-weight: normal;
  src: local('NewFont'), url('fonts/Azonix.otf') format('opentype');
}
#initial
{
    font-family: 'NewFont', sans-serif;
    font-size: 48px;
}

#jumbotron_transparent
{
    background: none
}

#card_main
{
    height: 225px; 
    width: 100%; 
    display: block;
}

#card_skill
{
    height: 337px; 
    width: 100%; 
    display: block
}

#skill_box
{
    width: 33.5rem;
}

#skill_status
{
    color: grey;
}

#skill_it_img
{
    height: 430px; 
    width: 100%; 
    display: block;
}

footer
{
    text-align: center;
}
