---
layout: default
title: Skills
---
<html>
	<section class="jumbotron text-center" style="background:transparent !important">
		<h1>My Skills</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et laoreet ligula. Fusce mattis laoreet magna, vel efficitur ligula pulvinar a. In augue nibh, imperdiet nec neque ac, molestie rhoncus enim. Donec blandit odio ante, et venenatis massa tristique ut.</p>
	</section>

	<section class="jumbotron align-items-center text-center">
		<div>
			<ul class="nav nav-tabs test2 align-items-center">
				<div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
		            <div class="btn-group btn-group-toggle" data-toggle="buttons">
		            	<label class="btn btn-secondary active" data-toggle="tab" href="#advanced">
					    	<input type="radio" name="options" id="Advanced" autocomplete="off" checked=""> Advanced
					  	</label>
					  	<label class="btn btn-secondary" data-toggle="tab" href="#beginner">
    						<input type="radio" name="options" id="Beginner" autocomplete="off"> Beginner
  						</label>
		  			</div>


		  			<!--<div class="btn-group btn-group-toggle">
		  				<li class="nav-item"><a data-toggle="tab" href="#prog_lang">Programming Language</a></li>
		  				<li class="nav-item"><a data-toggle="tab" href="#technology">Technology</a></li>
		  				<li class="nav-item"><a data-toggle="tab" href="#dat_sys">Database system</a></li>
	  				</div>-->
	  			</div>
			</ul>
			<div class="row mb-3">
		      			<div class="col-md-3 themed-grid-col"><strong>Name</strong></div>
					    <div class="col-md-6 themed-grid-col"><strong>Level of skill</strong></div>
					    <div class="col-md-3 themed-grid-col"><strong>Type of skill</strong></div>
		    </div>
		</div>

		<div class="tab-content">
		    <div id="advanced" class="tab-pane fade active show">
		      	<div class="container text-center">
					{% for skill in site.skills %}
					{% if skill.level == 'advanced' %}
					<div class="row mb-3">
					    	<div class="col-md-3 themed-grid-col">{{skill.name}}</div>
					    	<div class="col-md-6 themed-grid-col">{{skill.level}}</div>
					    	<div class="col-md-3 themed-grid-col">{{skill.describe}}</div>
			  		</div>
			  		{% endif %}
			  		{% endfor %}
  				</div>
		    </div>
		    <div id="beginner" class="tab-pane fade">
				<div class="container text-center">
					{% for skill in site.skills %}
						{% if skill.level == 'beginner' %}
							<div class="row mb-3">
							    	<div class="col-md-3 themed-grid-col">{{skill.name}}</div>
							    	<div class="col-md-6 themed-grid-col">{{skill.level}}</div>
							    	<div class="col-md-3 themed-grid-col">{{skill.describe}}</div>
					  		</div>
				  		{% endif %}
			  		{% endfor %}
  				</div>
		    </div>
		    <!--<div id="prog_lang" class="tab-pane fade">
		      	<div class="container text-center">
					{% for skill in site.skills %}
						{% if skill.describe == 'programming language' %}
							<div class="row mb-3">
							    	<div class="col-md-3 themed-grid-col">{{skill.name}}</div>
							    	<div class="col-md-6 themed-grid-col">{{skill.level}}</div>
							    	<div class="col-md-3 themed-grid-col">{{skill.describe}}</div>
					  		</div>
				  		{% endif %}
			  		{% endfor %}
  				</div>
		    </div>
		    <div id="technology" class="tab-pane fade">
		      	<div class="container text-center">
					{% for skill in site.skills %}
						{% if skill.describe == 'technology' %}
							<div class="row mb-3">
							    	<div class="col-md-3 themed-grid-col">{{skill.name}}</div>
							    	<div class="col-md-6 themed-grid-col">{{skill.level}}</div>
							    	<div class="col-md-3 themed-grid-col">{{skill.describe}}</div>
					  		</div>
				  		{% endif %}
			  		{% endfor %}
  				</div>
		    </div>
		    <div id="dat_sys" class="tab-pane fade">
		      	<div class="container text-center">
					{% for skill in site.skills %}
						{% if skill.describe == 'database system' %}
							<div class="row mb-3">
							    	<div class="col-md-3 themed-grid-col">{{skill.name}}</div>
							    	<div class="col-md-6 themed-grid-col">{{skill.level}}</div>
							    	<div class="col-md-3 themed-grid-col">{{skill.describe}}</div>
					  		</div>
				  		{% endif %}
			  		{% endfor %}
  				</div>
		    </div>-->
		</div>
	</section>	
</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>