---
layout: default
title: Skills
---
<section id="jumbotron_transparent" class="jumbotron text-center">
	<h1>My Skills</h1>
	<p>Here you can see all the information about my experience. Whether from education and work experience, but at the bottom also IT skills.</p>

	<div>

	    <div class="row mb-2">
	    	
	    	<div id="skill_box" class="card md-6 box-shadow">
	    		<img id="card_skill" class="card-img-top" src="/images/education.jpg" data-holder-rendered="true">
	    		<h5></h5>
	      		<h3>Education</h3>
	      		<div class="card-body">
	        		{% assign skills = site.skills | where:'describe', 'education' %}
	        		{% assign sorted_skills = (skills | sort: 'from') | reverse %}
					{% for skill in sorted_skills %}
					<section id="jumbotron_transparent" class="jumbotron text-center">
						<br><b>{{skill.name}}</b></br>
						<br><i>{{skill.level}}</i></br>
						<br>{{ skill.from | date_to_string }} - {{ skill.to | date_to_string }}</br>
						<div id="skill_status"><br>{{ skill.status }}</br></div>
					</section>
			  		{% endfor %}
	        	</div>
	      	</div>
	      	
	      	<div id="skill_box" class="card md-6 box-shadow">
	      		<img id="card_skill" class="card-img-top" src="/images/job-experience.jpg" data-holder-rendered="true">
	      		<h5></h5>
	      		<h3>Job Experience</h3>
	      		<div class="card-body">
	        		{% assign skills = site.skills | where:'describe', 'job' %}
	        		{% assign sorted_skills = (skills | sort: 'from') | reverse %}
					{% for skill in sorted_skills %}
					<section id="jumbotron_transparent" class="jumbotron text-center">
						<br><b>{{skill.name}}</b></br>
						<br><i>{{skill.level}}</i></br>
						<br>{{ skill.from | date_to_string }} - {{ skill.to | date_to_string }}</br>
						<div id="skill_status"><br>{{ skill.status }}</br></div>
					</section>
			  		{% endfor %}
	        	</div>
	      	</div>
	    </div>
	</div>
</section>

<section class="jumbotron align-items-center text-center" >
	<div>
		<h1>IT Skills</h1>
		<img id="skill_it_img" class="card-img-top" src="/images/programming.jpg" data-holder-rendered="true">
		<p></p>
		<ul class="nav nav-tabs test2 align-items-center">
			<div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
	            <div class="btn-group btn-group-toggle" data-toggle="buttons">
	            	<label class="btn btn-secondary active" data-toggle="tab" href="#advanced">
				    	<input type="radio" name="options" id="radio1" autocomplete="off" checked> Advanced
				  	</label>
				  	<label class="btn btn-secondary" data-toggle="tab" href="#beginner">
						<input type="radio" name="options" id="radio2" autocomplete="off"> Beginner
						</label>
	  			</div>
  			</div>
		</ul>
		<h6></h6>
		<div class="row mb-3">
	      			<div class="col-md-3 themed-grid-col"><strong>Name</strong></div>
				    <div class="col-md-6 themed-grid-col"><strong>Level of skill</strong></div>
				    <div class="col-md-3 themed-grid-col"><strong>Type of skill</strong></div>
	    </div>
	</div>

	<div class="tab-content">
	    <div id="advanced" class="tab-pane fade active show">
	      	<div class="container text-center">
	      		{% assign skills = site.skills | where:'level', 'advanced' %}
				{% for skill in skills %}
				<div class="row mb-3">
				    	<div class="col-md-3 themed-grid-col">{{skill.name}}</div>
				    	<div class="col-md-6 themed-grid-col">{{skill.level}}</div>
				    	<div class="col-md-3 themed-grid-col">{{skill.describe}}</div>
		  		</div>
		  		{% endfor %}
				</div>
	    </div>
	    <div id="beginner" class="tab-pane fade">
			<div class="container text-center">
				{% assign skills = site.skills | where:'level', 'beginner' %}
				{% for skill in skills %}
				<div class="row mb-3">
				    	<div class="col-md-3 themed-grid-col">{{skill.name}}</div>
				    	<div class="col-md-6 themed-grid-col">{{skill.level}}</div>
				    	<div class="col-md-3 themed-grid-col">{{skill.describe}}</div>
		  		</div>
		  		{% endfor %}
				</div>
	    </div>
	</div>
</section>