---
layout: default
title: Skills
---
<html>
	<section class="jumbotron text-center" style="background:transparent !important">
		<h1>My Skills</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et laoreet ligula. Fusce mattis laoreet magna, vel efficitur ligula pulvinar a. In augue nibh, imperdiet nec neque ac, molestie rhoncus enim. Donec blandit odio ante, et venenatis massa tristique ut.</p>
	
		<div>
			<div class="row mb-2">
      			<div class="col-md-6 themed-grid-col"><h3>Education</h3></div>
			    <div class="col-md-6 themed-grid-col"><h3>Job Experience</h3></div>
		    </div>

		    <div class="row mb-2">
		    	<div class="card md-6 box-shadow" style="width: 33.5rem;">
		      		<img class="card-img-top" src="/images/education.jpg" style="height: 337px; width: 100%; display: block;" data-holder-rendered="true">
		      		<div class="card-body">
		        		{% assign skills = site.skills | where:'describe', 'education' %}
		        		{% assign sorted_skills = (skills | sort: 'from') | reverse %}
						{% for skill in sorted_skills %}
						<section class="jumbotron text-center" style="background:transparent !important">
							<br><b>{{skill.name}}</b></br>
							<br><i>{{skill.level}}</i></br>
							<br>{{ skill.from | date_to_string }} - {{ skill.to | date_to_string }}</br>
						</section>
				  		{% endfor %}
		        	</div>
		      	</div>
		      	<div class="card md-6 box-shadow" style="width: 33.5rem;">
		      		<img class="card-img-top" src="/images/job-experience.jpg" style="height: 337px; width: 100%; display: block;" data-holder-rendered="true">
		      		<div class="card-body">
		        		{% assign skills = site.skills | where:'describe', 'job' %}
		        		{% assign sorted_skills = (skills | sort: 'from') | reverse %}
						{% for skill in sorted_skills %}
						<section class="jumbotron text-center" style="background:transparent !important">
							<br><b>{{skill.name}}</b></br>
							<br><i>{{skill.level}}</i></br>
							<br>{{ skill.from | date_to_string }} - {{ skill.to | date_to_string }}</br>
						</section>
				  		{% endfor %}
		        	</div>
		      	</div>
		    </div>
		</div>
	</section>

	<section class="jumbotron align-items-center text-center" >
		<div>
			<h1>IT Skills</h1>
			<img class="card-img-top" src="/images/programming.jpg" style="height: 430px; width: 100%; display: block;" data-holder-rendered="true">
			<p></p>
			<ul class="nav nav-tabs test2 align-items-center">
				<div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
		            <div class="btn-group btn-group-toggle" data-toggle="buttons">
		            	<label class="btn btn-secondary active" data-toggle="tab" href="#advanced">
					    	<input type="radio" name="options" id="radio1" autocomplete="off" checked> Advanced
					  	</label>
					  	<label class="btn btn-secondary" data-toggle="tab" href="#beginner">
    						<input type="radio" name="options" id="radio2" autocomplete="off"> Beginner
  						</label>
		  			</div>
	  			</div>
			</ul>
			<h6></h6>
			<div class="row mb-3">
		      			<div class="col-md-3 themed-grid-col"><strong>Name</strong></div>
					    <div class="col-md-6 themed-grid-col"><strong>Level of skill</strong></div>
					    <div class="col-md-3 themed-grid-col"><strong>Type of skill</strong></div>
		    </div>
		</div>

		<div class="tab-content">
		    <div id="advanced" class="tab-pane fade active show">
		      	<div class="container text-center">
		      		{% assign skills = site.skills | where:'level', 'advanced' %}
					{% for skill in skills %}
					<div class="row mb-3">
					    	<div class="col-md-3 themed-grid-col">{{skill.name}}</div>
					    	<div class="col-md-6 themed-grid-col">{{skill.level}}</div>
					    	<div class="col-md-3 themed-grid-col">{{skill.describe}}</div>
			  		</div>
			  		{% endfor %}
  				</div>
		    </div>
		    <div id="beginner" class="tab-pane fade">
				<div class="container text-center">
					{% assign skills = site.skills | where:'level', 'beginner' %}
					{% for skill in skills %}
					<div class="row mb-3">
					    	<div class="col-md-3 themed-grid-col">{{skill.name}}</div>
					    	<div class="col-md-6 themed-grid-col">{{skill.level}}</div>
					    	<div class="col-md-3 themed-grid-col">{{skill.describe}}</div>
			  		</div>
			  		{% endfor %}
  				</div>
		    </div>
		</div>
	</section>	
</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>