<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav style="text-align: center;">
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/skills">Skills</a></li>
	        		<li><a href="/projects">Projects</a></li>
	        		<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container" style="text-align: center;">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer style="text-align: center;">
	    		<ul>
	        		<li><a href="https://github.com/xgemelaj">My Github</a></li>
				</ul>
			</footer>
		</body>
	</html>
